<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container [loop]="true" [pagination]="true" [slidesPerView]="1">
    <swiper-slide *ngFor="let slide of slides">
      <h1>{{slide.title}}</h1>
      <p>{{slide.description}}</p>
      <img src="{{slide.img}}" alt="">
      <p >{{slide.help_text}}</p>
    </swiper-slide>
   
  </swiper-container>
  </ion-content>

  